{% extends 'base.html' %}
{% load humanize %}

{% block content %}
  {% include 'coins/coin_detail_header/coin_detail_header.html' %}


  <div class="container content">
    <div class="mdl-tabs mdl-js-tabs">
      <div class="mdl-tabs__tab-bar">
        <a href="{% url 'coin-detail' coin.slug %}" class="mdl-tabs__tab">Prices</a>
        <a href="{% url 'coin-markets' coin.slug %}" class="mdl-tabs__tab is-active">Markets</a>
        <a href="{% url 'coin-price-differences' coin.slug %}" class="mdl-tabs__tab">Price Differences</a>
      </div>
      <div class="mdl-tabs__panel is-active">
        <table class="coin_list mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
          <tr>
            <th>Market</th>
            <th>Volume 24h in BTC</th>
            <th>Price</th>
            <th>Volume 24h in USD</th>
          </tr>
          </thead>
          <tbody>
          {% for market in market_list %}
            <tr>
              <td><a href="{% url 'market-detail' market.slug %}">{{ market.name }}</a></td>
              <td>{{ market.volume_btc | intcomma }}</td>
              <td>{{ market.price | intcomma }}</td>
              <td>{{ market.volume_usd | intcomma }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
